body {
	background: #f5f6f7;
	color: #1b1b32;
	font-family: Helvetica;
	margin: 0;
}


/*To scale the image. */ 
#logo{
	width:max(100px, 18vw);
    background-color: #0a0a23;
    /*sets the desired aspect ratio*/
	aspect-ratio: 25/20;
	padding: .4rem;
}

header{
    /*takes up the full width of its parent*/
	width:100%;
	height:50px;
	background-color:#1b1b32;
    /*allows me to use flexbox*/
	display:flex;
}

h1{
    color: #e6e6e6;
    font-size: min(5vw, 1.8em);
    text-align: center;
}

nav > ul{
    display: flex;
	justify-content: space-evenly;
}

/*Typeface plays an important role in accessibility. Some 
fonts are easier to read than others, and this is especially 
true on low-resolution screens.*/
h1, h2{
    /*chose Tahoma as the fallback web-safe font*/
	font-family: Verdana, Tahoma;
}
h2{
	border-bottom: 4px solid#dfdfe2;
}

/*To hide the text, use this common pattern. This way only 
screen readers read this text*/
.sr-only{
	position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap;
border: 0;
}

/*To prevent unnecessary repitition(writing the question number repeatedly) */
p::before{
	content:"Question #";
}